<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить нового пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">

    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="surname">Фамилия</label>
    <input type="text" th:field="*{surname}" id="surname"/>

    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age"/>

    <input type="submit" value="Create!"/>

</form>
</body>
</html>